/* Custom font-face declaration, loading a 'alice' font from a local file */
@font-face {
  font-family: "alice";
  src: url("./AliceInWonderland-z051.ttf") format("truetype");
}


/* Universal selector resetting default box-sizing to border-box for all elements */
* {
  box-sizing: border-box;
}

/* Setting width and height to 100% for html and body elements, applying custom font */
html,
body {
  width: 100%;
  height: 100%;
  font-family: "alice";
}

/* Resetting default styles for button elements, applying custom font */
button {
  font-family: "alice";
}

/* Removing default margin from h1 elements */
h1 {
  margin-block-start: 0;
}
